<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>error</title>
    <link rel="stylesheet" href="../../public/admin/plugins/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="../../public/admin/css/global.css" media="all">
    <link rel="stylesheet" href="../../public/admin/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../public/admin/css/table.css" />
</head>

<body>
<div class="admin-main">
    <h2><%=message%></h2>
</div>
<script type="text/javascript" src="../../public/admin/plugins/layui/layui.js"></script>
<script>
    layui.config({
        base: 'plugins/layui/modules/'
    });

    layui.use(['icheck', 'laypage','layer'], function() {

    });
</script>
</body>

</html>